body {
    text-align: center;
    font-size: 25px;
    background-image:url('/css/pizza.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.title-style {
    color: whitesmoke;
    font-family: cursive;
    text-decoration: underline;
}
.calzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.fullbox {
    font-size: 20px;
    background-color: darkred;
    width: 150px;
    box-shadow: 5px 5px 10px black;
    border: 3px solid whitesmoke;
}

.fullbox:hover {
    box-shadow: 10px 10px 15px black;
    
    
    
}

.language-link {
    padding: 20px;
    margin: 15px;
    text-decoration: none;
    color: whitesmoke;
    font-family: cursive;

}
